body {
    width: 90%;
    background-color: burlywood;
    text-align: center;

}

li {
    display: inline;
}

.first-paragraph p {
    /* background-color: pink; */
    padding: 2em;
}

.abuse-type table h2 {
    color: red;
}

.sexual-abuse {
    padding-top: -7%;
    margin-top: -7%;
}

img {
    width: 450px;
    height: 450px;
    float: right;
    margin-right: 120px;
    margin-top: -12%;
    padding-top: -12%;
}

.responsive {
    margin-top: 5px;
    width: 250px;
    height: 250px;
    float: right;

}

@media screen and (min-width: 768px) {
    .abuse {
        vertical-align: top;
        margin: 1em;
        width: 29%;
        display: inline-block;
    }

    .responsive {
        height: 450px;
        width: 450px;
    }
}